<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi To-Do List</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/img/LogodeCJ.png" alt="Logo" width="100">
        </div>
        <h1>Bienvenido a mi To-Do List</h1>
        <p class="subtitulo">Desarrollado por Carlos CJ</p>
        <button id="cambiar_tema" class="button">Cambiar Tema</button>
    </header>
    <main class="index"
        <p>Gracias por visitar mi aplicación de lista de tareas.</p>
        <p>¡Espero que te sea de utilidad!</p>
        <a href="crear_tarea" class="button">Ver Lista de Tareas</a>
    </main>
    <footer>
        <p>&copy; 2024 Carlos CJ. Todos los derechos reservados.</p>
    </footer>
    <script src="/static/js/cambiar_tema.js"></script>
</body>
</html>
